.container {
  /* container 정렬*/
  width: 100%;
  height: 60px;
  background-color: #545454;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container__icon {
  /* 아이콘 정렬 */
  display: flex;
  margin-right: 50px;
}
.container__icon .social-icon {
  font-size: 18px;
  color: white;
  margin-left: 20px;
}

.container__button {
  /* 회원가입, 로그인 정렬 */
  margin-right: 50px;
  color: white;
}
.container__button .container__register {
  margin-right: 15px;
}
