.page {
  padding: 0;
  display: grid;
}
.left-Menu {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  margin-top: 3rem;
  margin-left: 10rem;
  background: #999;
}
.left-Menu__title {
  width: 100%;
  font-size: 40px;
  line-height: 10rem;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid #777;
}
.left-Menu__title h1 {
  margin-left: 3rem;
}
.left-Menu__menu {
  height: 100%;
  margin-top: 2rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}
.right-Menu {
  width: 20rem;
  grid-column: 3 /4;
}
.content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 1rem;

  width: 100%;
  height: 80vh;
  border: 1px solid #999;
}
.content__title {
  padding-left: 3rem;
  line-height: 10rem;
  height: 10rem;
  font-size: 50px;
  border-bottom: 1px solid #333;
}
.content__content {
  padding: 3rem;
  font-size: 20px;
  line-height: 40px;
}
@media (max-width: 1200px) {
  .left-Menu {
    display: none;
  }
  .right-Menu {
    display: none;
  }
}
