.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__list-item {
  font-size: 20px;
  margin-right: 50px;
}
.nav-bar__logo {
  margin-left: 15px;
}
.nav-bar__column {
  margin-top: 30px;
  margin-right: 40px;
}
