.homes {
  display: grid;
  grid-column: 2 / 5;
}

.section-slide {
  grid-row: 2 / 3;
  /* 이미지 크기 조정 */

  position: relative;
  height: 60vh;
  overflow: hidden;
}

.section-contents {
  background-color: orangered;
  grid-row: 3 / 4;

  &__announce {
    grid-column: 2 / 3;
  }

  &__article {
    grid-column: 3 / 4;
  }

  &__something {
    grid-column: 4 / 5;
  }
}
